<!-- filepath: /Users/rohidesh/personal/writings/website/rohidesh34.github.io/_layouts/post.html -->
{% include header.html %}
<div class="post">
  <h1>{{ page.title }}</h1>
  <p>
    <small>
      {{ page.date | date: "%B %d, %Y" }}
      {% if page.author %} by {{ page.author }}{% endif %}
      {% if page.tags %}
        <br>
        Tags:
        {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      {% endif %}
    </small>
  </p>
  {{ content }}
</div>
{% include footer.html %}